@use "/src/assets/styles/resource/index.scss" as *;

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black-06;

  > .modal {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    padding: 1rem;
    color: $white;
    background: $black;
    border-radius: 0.5rem;

    > .input {
      box-sizing: border-box;
      width: 100%;
      padding: 0.5rem;
    }

    > .control {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
